:root {
    --boxColor: #0ff7;
    --rotateSpeed: 30s;
    --bounceSpeed: 1.5s;
    
    
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body {
    background-color:#000;
    height:300vh;
    overflow-x:hidden;
    font-size:75px;
    perspective: 15em;
    perspective-origin: 50% calc(75% - 2.5em);
    display: grid;
    justify-items: center;
    align-items: center;
    
}



  
.floor {
    width:15em;
    height:15em;
    background-image:
    radial-gradient(#0000,#000 50%),
     repeating-conic-gradient(from 90deg, pink 0deg 90deg, lightblue 90deg 180deg);
    background-size:100%, 1em 1em;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);
    top:1em;
}
.scene {
    position:relative;
    top:80%;
    transform-style: preserve-3d;
    animation:scene-rotate var(--rotateSpeed) infinite linear;
    
}
.cube {
    width:2em;
    height:2em;
    transform-style: preserve-3d;
    position: absolute;
    bottom:-1em;
    left:1em;
    /* animation:cube-height var(--bounceSpeed) infinite linear; */

}
.side{
    height:2em;
    width:2em;
    background-color:lightblue;
    opacity:0.5;
    position:absolute;
    transform-style: preserve-3d;
    display:grid;
    place-items:center;
}
.front {
    transform:translateZ(1em);
    transform-style: preserve-3d;
    transition:transform 0.5s;
    transform-origin:bottom;
}


.back {
    transform: rotateY(180deg) translateZ(1em);
}
.left {
    transform:rotateY(90deg) translateZ(1em);
    transform-origin:bottom;
    
}


.right {
    transform:rotateY(270deg) translateZ(1em);
}

.top {
    transform:rotateX(90deg) translateZ(1em);
}




.bottom {
    transform: rotateX(270deg) translateZ(1em);
}
.left,
.right,
.front,
.back,
.bottom,
.top {
    box-shadow:0 0 0.5em #000a inset ;
}

@keyframes scene-rotate {
    to {
        transform:rotateY(1turn)
    }
}

.smaller-cube {

    width:1.5em;
    height:1.5em;
    transform-style: preserve-3d;
    position: absolute;
    bottom:-1em;
    left:-1em;
    transition:0.5s;
    /* transform:translate(3.5em) translateY(-2em) scaleY(0.8) scaleY(1.2) */
    /* animation:cube-height var(--bounceSpeed) infinite linear; */
}

.smaller-side {
    height:1.5em;
    width:1.5em;
    background-color:pink;
    opacity:0.5;
    position:absolute;
    transform-style: preserve-3d;
    display:grid;
    place-items:center;
    box-shadow:0 0 0.5em #000 inset;
}

.smaller-front {
    height:1.5em;
    width:1.5em;
    transform:translateZ(0.75em);
    background-color:pink;
}




.smaller-back {
    transform:rotateY(180deg)translateZ(0.75em)
}
.smaller-left {
    transform:rotateY(90deg) translateZ(0.75em);
}
.smaller-right {
    transform:rotateY(270deg) translateZ(0.75em)
}
.smaller-top {
    transform:rotateX(90deg) translateZ(0.75em);
}
.smaller-bottom {
    transform:rotateX(270deg) translateZ(0.75em)
}








.smallest-side {
    height:1em;
    width:1em;
    background-color:white;
    opacity:0.5;
    position:absolute;
    transform-style: preserve-3d;
    display:grid;
    place-items:center;
    box-shadow:0 0 0.5em #000 inset;
}


.text {
    position: absolute;
    top:-0em;
    left:-3em;
    transform:translateZ(2em) translateY(1em) rotateX(90deg);
    color:white;
    width:max-content;
    transform-style: preserve-3d;
    background-color:white;
}
.text-repeat {
    position:absolute;
    width: max-content;
    transform-style: preserve-3d;
    
}

.one {
    transform: translateZ(0px);
    color:#000000;
    text-shadow: 0 0 10px #000;
}
.two {
    transform: translateZ(0.25px);
    color:#161616;
}
.three {
    transform: translateZ(0.5px);
    color:#2a2929;
}
.four {
    transform: translateZ(0.75px);
    color:#3a3939;
}
.five {
    transform: translateZ(1px);
    color:#454444;
}
.six {
    transform: translateZ(1.25px);
    color:#535252;
}
.seven {
    transform: translateZ(1.5px);
    color:#5c5b5b;
}
.eight {
    transform: translateZ(1.75px);
    color:#696767;
}
.nine {
    transform: translateZ(2px);
    color:#747272;
}
.ten {
    transform: translateZ(2.25px);
    color:#7e7c7c;
}
.eleven {
    transform: translateZ(2.5px);
    color:#888686;
}
.twelve {
    transform: translateZ(2.75px);
    color:#939191;
}
.thirteen {
    transform: translateZ(3px);
    color:#9e9c9c;
}
.fourteen {
    transform: translateZ(3.25px);
    color:#a9a8a8;
}
.fifteen {
    transform: translateZ(3.5px);
    color:#b3b1b1;
}
.sixteen {
    transform: translateZ(3.75px);
    color:#bdbbbb;
}
.seventeen {
    transform: translateZ(4px);
    color:#cac7c7;
}
.eighteen {
    transform: translateZ(4.25px);
    color:#d4d2d2;
}
.nineteen {
    transform: translateZ(4.5px);
    color:#dddada;
}
.twenty {
    transform: translateZ(4.75px);
    color:#eae7e7;
}
.twenty-one {
    transform: translateZ(5px);
}
.twenty-two {
    transform: translateZ(5.25px);
}
.twenty-three {
    transform: translateZ(5.5px);
}
.twenty-four {
    transform: translateZ(5.75px);
}
.twenty-five {
    transform: translateZ(6px);
}
.twenty-six {
    transform: translateZ(6.25px);
}
.twenty-seven {
    transform: translateZ(6.5px);
}
.twenty-eight {
    transform: translateZ(6.75px);
}
.twenty-nine {
    transform: translateZ(7px);
}
.thirty {
    transform: translateZ(7.25px);
}

.smallest-cube {

    width:1em;
    height:1em;
    transform-style: preserve-3d;
    position: absolute;
    bottom:-1em;
    left:-2.5em;
    /* transform:translate(3.5em) translateY(-2em) scaleY(0.8) scaleY(1.2) */
    /* animation:cube-height var(--bounceSpeed) infinite linear; */
}
.smallest-front {
    transform:translateZ(0.5em)
}
.smallest-back {
    transform:rotateY(180deg) translateZ(0.5em)
}
.smallest-left {
    transform:rotateY(90deg) translateZ(0.5em)
}
.smallest-right {
    transform: rotateY(270deg) translateZ(0.5em);
}
.smallest-top {
    transform:rotateX(90deg) translateZ(0.5em)
}
.smallest-bottom {
    transform: rotateX(270deg) translateZ(0.5em)
}






.next {
    position: absolute;
    top:0em;
    left:-3.5em;
    transform:translateZ(-2em) translateY(1em) translateX(5.5em) rotateX(270deg) rotateY(180deg);
    color:white;
    width:max-content;
    transform-style: preserve-3d;
    
}
.next-repeat {
    position:absolute;
    width: max-content;
    transform-style: preserve-3d;
    
}


.thirty-one {
    transform: translateZ(0px);
    color:#000000;
    text-shadow: 0 0 10px #000;
    
}
.thirty-two {
    transform: translateZ(0.25px);
    color:#161616;
}
.thirty-three {
    transform: translateZ(0.5px);
    color:#2a2929;
}
.thirty-four {
    transform: translateZ(0.75px);
    color:#3a3939;
}
.thirty-five {
    transform: translateZ(1px);
    color:#454444;
}
.thirty-six {
    transform: translateZ(1.25px);
    color:#535252;
}
.thirty-seven {
    transform: translateZ(1.5px);
    color:#5c5b5b;
}
.thirty-eight {
    transform: translateZ(1.75px);
    color:#696767;
}
.thirty-nine {
    transform: translateZ(2px);
    color:#747272;

}
.fourty {
    transform: translateZ(2.25px);
    color:#7e7c7c;
}
.fourty-one {
    transform: translateZ(2.5px);
    color:#888686;
}
.fourty-two {
    transform: translateZ(2.75px);
    color:#939191;

}
.fourty-three {
    transform: translateZ(3px);
    color:#9e9c9c;

}
.fourty-four {
    transform: translateZ(3.25px);
    color:#a9a8a8;
}
.fourty-five {
    transform: translateZ(3.5px);
    color:#b3b1b1;
}
.fourty-six {
    transform: translateZ(3.75px);
    color:#bdbbbb;
}
.fourty-seven {
    transform: translateZ(4px);
    color:#cac7c7;
}
.fourty-eight {
    transform: translateZ(4.25px);
    color:#d4d2d2;
}
.fourty-nine {
    transform: translateZ(4.5px);
    color:#dddada;
}
.fifty {
    transform: translateZ(4.75px);
    color:#eae7e7;

}
.fifty-one {
    transform: translateZ(5px);
    
}
.fifty-two {
    transform: translateZ(5.25px);
    
}
.fifty-three {
    transform: translateZ(5.5px);
    
}
.fifty-four {
    transform: translateZ(5.75px);
    
}
.fifty-five {
    transform: translateZ(6px);
    
}
.fifty-six {
    transform: translateZ(6.25px);
    
}
.fifty-seven {
    transform: translateZ(6.5px);
    /* color:black; */
}
.fifty-eight {
    transform: translateZ(6.75px);
    /* color:black; */
}
.fifty-nine {
    transform: translateZ(7px);
    
}
.sixty {
    transform: translateZ(7.25px);
    
   
}
.scene {
    --positionX:0;
    --positionY:0;

    position:absolute;
    
}


/**** 3D Finished Portfolio Start ****
*************************************/
* {
    color:white;
}
.main-section {
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
    
}
.top-section {
    height:100vh;
    width:99vw;
    font-size:25px;
    
}
.top-section__grid {
    display:grid;
    grid-template-columns: 50vw 50vw;
    height:100vh;
    width:99vw;
}
.top-section__left,
.top-section__right {
    height:100%;
    width:50vw;
}
.top-section__left {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:50vw;
    
}
.portfolio-home__introduction {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    width:max-content;
    padding-top:8rem;
}
.portfolio-home__introduction h4 {
    align-self:flex-start;
}

.top-section__left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: flex-end;
    justify-content:center;
    width:50vw;
   
}
 
 
 .top-section__left h1 {
   font-weight: 800;
   outline: none;
   text-transform: uppercase;
   background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
   background-size: 400%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   animation: animate 10s linear infinite;
   width:max-content;
   font-size:5rem;
   /* font-size:4.25vw; */
   
 }
 .top-section__left h4 {
    color:white;
    font-family:monospace;
    font-size:1rem;
    font-weight:500;
    color:lightblue;
}
.top-section__left h3 {
    color:lightblue;
    align-self:flex-end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:75%;
    text-align: right;
    font-size:1.5rem;
}



/* Buttons */
.portfolio-home__left-buttons button {
    color:white;
    font-weight:700;
    transition:0.5s;
    
}

.second-button {
    border:2px solid;
    border-style: solid;
    border-image-source:linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    border-image-slice:10;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:800;
    font-size:1.25rem;
    transition:0.5s;
}
.second-button,
#scroll-to-work__button {
    text-transform: uppercase;
    font-weight:600;
    width:11vw;
    height:4vh;
    border-radius:0.25rem;
}

button:hover {
    cursor:pointer;
}
.portfolio-buttons {
    gap:0.5rem;
    display:flex;
    width:max-content;
    padding-top:0.75rem;
    
}
#scroll-to-work__button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    border:none;
    transition:0.5s;
    

}
.portfolio-home__below {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    width:50%;
    height:15%;
    align-self:flex-end;
    text-align: center;
    gap:1rem;
    width:max-content;
    text-align: right;
    
}
.portfolio-home__below h5 {
    font-size:1.25rem;
    width:max-content;
    text-align: center;
}
.portfolio-home__below p {
    rotate:0.5turn;
    align-self:flex-end;
}
/** Arrow animation *****
************************/
.portfolio-home__below p {
    animation: spin 0.4s forwards linear, bounce 1s infinite linear;
    animation-delay:2s;
   
}
.portfolio-home__below {
    transform:translateY(100%);
    opacity:0;
}

@keyframes bounce {
    50% {
        transform: translateY(-25%)
    }
    
    
}

@keyframes spin {
    from {
        rotate:0.5turn;
    }
    to {
        rotate: 1.5turn;
    }
}

/*********************
**********************/

.second-section {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.second-section h2 {
    font-weight: 800;
   outline: none;
   text-transform: uppercase;
   background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
   background-size: 400%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   animation: animate 10s linear infinite;
   width:max-content;
   font-size:4vw;
   padding-left:12rem;
}


/** Orbit ********/
/********************/





.top-section__right {
    display:grid;
    place-items:center;
    padding-bottom:6rem;

}

.orbit__li > img {
    width:100px;
}
.orbit__main-container {
    height:100vh;
    width:100vw;
    display:grid;
    place-items:center;
    background-color:black;
    grid-template-columns: 1fr 1fr;
    
}
.orbit__center-image {
    position:relative;
    width:10rem;
    
}
.orbit__center-image > img {
    border-radius:1.5rem;
    width:inherit;
    position:absolute;
}
#orbit__ul,
.top-nav__ul {
    position:relative;
    list-style:none;
    display:grid;
    place-items:center;
    width:10rem;
    height:7.5rem;
    
    
}


.orbit__li:hover ul:hover {
    animation-play-state: paused;
}

.orbit__li {
    position:absolute;
    height:120px;
    width:120px;
    border-radius:100%;
    display:grid;
    place-items: center;
    background-color:rgb(67, 66, 69);
    
}
#orbit__ul > li > p {
    position:absolute;
    animation: reverse-orbit 30s linear infinite;

    transform-origin: center;
    animation-duration: infinite;
    color:white;
    font-size:1.4rem;
    background-color:gray;
    height:100%;
    width:100%;
    border-radius:100%;
    opacity:0;
    display:grid;
    place-items:center;
}



#orbit__ul:hover .orbit__li p {
    animation-play-state: paused;
}







li:nth-child(2) > img {
    width:75px;
}
li:nth-child(5) > img {
    width:80px;
}
li:nth-child(6) > img {
    width:80px;
}
li:nth-child(7) > img {
    width:80px;
}
li:nth-child(3) > img {
    width:130px;
}
li:nth-child(2) > img {
    width:60px;
}



.orbit__list:hover {
    cursor:pointer;
    animation-play-state: paused;
}

#orbit__ul:hover {
    animation-play-state: paused;

}
ul:hover li img {
    animation-play-state: paused;
}


#firstList {
    animation:li-one 1s forwards;
    animation-delay:0s;
    transform-origin: center;
}
#secondList {
    animation:li-two 1s forwards;
    animation-delay:500ms;
    transform-origin: center;
}
#thirdList {
    animation:li-three 1s forwards;
    animation-delay:1000ms;
    transform-origin: center;
}
#fourthList {
    animation:li-four 1s forwards;
    animation-delay:1500ms;
    transform-origin: center;
}
#fifthList {
    animation:li-five 1s forwards;
    animation-delay:2000ms;
    transform-origin: center;
}
#sixthList {
    
    animation:li-six 1s forwards;
    animation-delay:2500ms;
    transform-origin: center;
}
li:nth-child(7) {
    
    animation:li-seven 1s forwards;
    animation-delay:3000ms;
    transform-origin: center;
}
li:nth-child(8) {
    
    animation:li-eight 1s forwards;
    animation-delay:3500ms;
    transform-origin: center;
}

.orbit__li {
    transition: transform 0.5s;
}

.orbit__li > img {
    animation: reverse-orbit 30s linear infinite;
    transform-origin: center;
    animation-duration: infinite;
}

#orbit__ul {
    
    transform-origin: center;
      
}
#orbit__ul {
    animation: orbit 30s linear infinite;
}

#orbit__center-image {
    position:relative;
    display:grid;
    place-items: center;
}

#orbit__ul .orbit__li:hover p {
    opacity:1;
    animation-play-state: paused;

}

.js-logo {
    width:20rem;
}
@keyframes li-one {
    to {
        transform:translate(15rem, 0rem);
    }
}
@keyframes li-two {
    to {
        transform: translate(11rem, 11rem);
    }
}
@keyframes li-three {
    to {
        transform:translate(0rem, 15rem);
    }
}
@keyframes li-four {
    to {
        transform:translate(-11rem, 11rem);
    }
}
@keyframes li-five {
    to {
        transform:translate(-15rem, 0rem);
    }
}
@keyframes li-six {
    to {
        transform:translate(-11rem, -11rem);
    }
}
@keyframes li-seven {
    to {
        transform:translate(0rem, -15rem);
    }
}
@keyframes li-eight {
    to {
        transform:translate(11rem, -11rem);
    }
}










@keyframes orbit {
    100% {
        rotate:1turn;
    }
}
@keyframes reverse-orbit {
    100% {
        rotate:-1turn;
    }
}

/*********Header**************/
header ul {
    display:flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap:5rem;
    font-size:1rem;
    padding-top:3rem;
    height:max-content;
    
    
}
header ul li {
    text-transform:uppercase;
    font-weight:500;
    
}

